
.container {
	background-color: #eaecef;
	opacity: .92;
	min-height: 550px;
	border-radius: 25px;
	min-width: 1150px;
}

.page {
	padding-top: 50px;
	background-color: #565656;
	background-image: url("coffee.jpg");
	background-size: 100%;
	height: 700px;
}

#delete-btn {
	visibility: hidden;
	color: gray;
}

.dropdown:hover #delete-btn {
    visibility: visible;
}

.dropdown:hover {
	/*background-color: #d8d8d8;*/
	background-color: #8d8d8e;
	color: white;
}

#signout{
	margin-top: -50px;
	float: right;
}

.header{
	position: relative;
	padding-bottom: 50px;
}

.search{
	width: 40%;
	display: block;
	position: relative;
	float: right;
}

#table-wrapper {
	background-color: #eaecef;
	height: 400px;
	width: 100%;
	overflow-y: scroll;
	padding: 30px;
}

.table-top {
	background-color: #eaecef;
	padding-top: 30px;
	border-radius: 25px;
}
.header{
	padding: 5px;
	background-color: #3e3e3f;
	color: white;
}

thead {
	background-color: #5e9edb;
}

#delete-box {
	width: 50px;
}